<ul>
	<li>This one is uppercase: {NAME:uppercase}</li>
	<li>This one is lowercase: {NAME:lowercase}</li>
	<li>This is money unformatted {PRICE}, and this one's formatted spanish way: {PRICE:moneda=&euro;}</li>
</ul>